## Loading Data and Inspecting

In [1]:
import pandas as pd
import os

In [2]:
os.getcwd()

'E:\\GCD\\project1\\Stock_price_prediction\\notebooks'

In [3]:
file_path = "../data/raw/nvidia.csv"
df = pd.read_csv(file_path)
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-05-23,37.422501,37.422501,36.227501,36.830002,36.579872,59184400
1,2019-05-24,37.020000,37.375000,36.220001,36.287498,36.041054,35758400
2,2019-05-28,36.465000,36.794998,35.812500,35.832500,35.589134,42835600
3,2019-05-29,35.352501,35.705002,34.735001,35.084999,34.846722,55980000
4,2019-05-30,35.077499,35.437500,34.392502,34.777500,34.580738,39430000
...,...,...,...,...,...,...,...
1255,2024-05-17,943.690002,947.400024,918.059998,924.789978,924.789978,35969100
1256,2024-05-20,937.500000,952.000000,934.400024,947.799988,947.799988,31876400
1257,2024-05-21,935.989990,954.000000,931.799988,953.859985,953.859985,32894600
1258,2024-05-22,954.590027,960.200012,932.489990,949.500000,949.500000,53725900
1259,2024-05-23,1020.000000,1063.199951,1015.200012,1058.918579,1058.918579,53658481

In [4]:
print(df.head())
print(df.info())
print(df.isnull().sum())

         Date       Open       High        Low      Close  Adj Close    Volume
0  2019-05-23  37.422501  37.422501  36.227501  36.830002  36.579872  59184400
1  2019-05-24  37.020000  37.375000  36.220001  36.287498  36.041054  35758400
2  2019-05-28  36.465000  36.794998  35.812500  35.832500  35.589134  42835600
3  2019-05-29  35.352501  35.705002  34.735001  35.084999  34.846722  55980000
4  2019-05-30  35.077499  35.437500  34.392502  34.777500  34.580738  39430000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1260 non-null   object
 1   Open       1260 non-null   float64
 2   High       1260 non-null   float64
 3   Low        1260 non-null   float64
 4   Close      1260 non-null   float64
 5   Adj Close  1260 non-null   float64
 6   Volume     1260 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 69.0+ KB
None
Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

## Convert Data and sort

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace=True)
df = df.sort_index()

In [6]:
df.head()

                 Open       High        Low      Close  Adj Close    Volume
Date
2019-05-23  37.422501  37.422501  36.227501  36.830002  36.579872  59184400
2019-05-24  37.020000  37.375000  36.220001  36.287498  36.041054  35758400
2019-05-28  36.465000  36.794998  35.812500  35.832500  35.589134  42835600
2019-05-29  35.352501  35.705002  34.735001  35.084999  34.846722  55980000
2019-05-30  35.077499  35.437500  34.392502  34.777500  34.580738  39430000

## Handling Missing Values

In [7]:
df.fillna(method='ffill', inplace=True)

C:\Users\anees\AppData\Local\Temp\ipykernel_56916\3970806690.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)

In [8]:
df.head

<bound method NDFrame.head of                    Open         High          Low        Close    Adj Close  \
Date
2019-05-23    37.422501    37.422501    36.227501    36.830002    36.579872
2019-05-24    37.020000    37.375000    36.220001    36.287498    36.041054
2019-05-28    36.465000    36.794998    35.812500    35.832500    35.589134
2019-05-29    35.352501    35.705002    34.735001    35.084999    34.846722
2019-05-30    35.077499    35.437500    34.392502    34.777500    34.580738
...                 ...          ...          ...          ...          ...
2024-05-17   943.690002   947.400024   918.059998   924.789978   924.789978
2024-05-20   937.500000   952.000000   934.400024   947.799988   947.799988
2024-05-21   935.989990   954.000000   931.799988   953.859985   953.859985
2024-05-22   954.590027   960.200012   932.489990   949.500000   949.500000
2024-05-23  1020.000000  1063.199951  1015.200012  1058.918579  1058.918579

              Volume
Date
2019-05-23  59184400
2019-05-24  35758400
2019-05-28  42835600
2019-05-29  55980000
2019-05-30  39430000
...              ...
2024-05-17  35969100
2024-05-20  31876400
2024-05-21  32894600
2024-05-22  53725900
2024-05-23  53658481

[1260 rows x 6 columns]>

## FeatureEngineering

In [9]:

df['MA10'] = df['Close'].rolling(window = 10).mean()
df['MA50'] = df['Close'].rolling(window=50).mean()

In [10]:
df['Return'] = df['Close'].pct_change()

In [11]:
df['volatility'] = df['Return'].rolling(window=10).std()

In [12]:
df['Lag1'] = df['Close'].shift(1)
df['Lag2'] = df['Close'].shift(2)
df['Lag3'] = df['Close'].shift(3)

## Defining the targeting variable

In [13]:
df['Target'] = df['Close'].shift(-1)

In [14]:
df = df.dropna()

X = df.drop(columns=["Close"])
y = df["Close"]

In [15]:
df.to_csv("../data/processed_nvidia.csv")